<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="sidenavbarAdmin">
        <a href="/admin"><span class="glyphicon glyphicon-home"></span> Dash Board</a><br>
        <a href="/admin"><span class="glyphicon glyphicon-user"></span> Users</a><br>
        <a href="/addquestype"><span class="glyphicon glyphicon-film"></span> Question Type</a><br>
        <a href="/addquestion"><span class="glyphicon glyphicon-th"></span> Questions</a><br>
        <a href="/addtesttype"><span class="glyphicon glyphicon-briefcase"></span> Test Type</a><br>
        <a href="/addtest"><span class="glyphicon glyphicon-pencil"></span> Create Tests</a><br>
        <a href="/edittest"><span class="glyphicon glyphicon-edit"></span> Edit Tests</a><br>
        <a href="/addpack"><span class="glyphicon glyphicon-th-large"></span> Create Pack</a><br>
        <a href="/editpack"><span class="glyphicon glyphicon-th-list"></span> Edit Pack</a><br>

      </div>
    </div>
    <div class="col-md-9">
        <h2 class="text-primary">Edit Packs</h2>
        <p>Edit or Delete <code>Test Packs</code> Here</p>

        <!-- My Packs -->
        <div class="table"style="overflow-x:scroll">
          <table class="table table-responsive table-bordered">
            <tr>
              <th>Pack Name</th>
              <th>Price</th>
              <th>Product Info</th>
              <th>No.Of Tests</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            <tr ng-repeat="pack in editpackCtrl.packs">
              <td>{{pack.PackName}}</td>
              <td>{{pack.Price}}</td>
              <td>{{pack.ProductInfo}}</td>
              <td>{{pack.NoOfTest}}</td>
              <td>
                <button type="button" class="btn btn-primary"ng-click="editpackCtrl.loadForEdit(pack)">
                 <span class="glyphicon glyphicon-edit"></span>
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-danger" ng-click="editpackCtrl.Delete(pack)">
                 <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </table>
        </div>
        <!--My Packs Table Ends -->

        <form class="form" name="form" novalidate>

          <div class="form-group">
            <label>Pack Name</label>
            <input type="text" name="PackName" class="form-control" ng-model="editpackCtrl.PackName" required>
          </div>
          <div class="form-group has-error">
            <p class="help-block" ng-show="form.PackName.$error.required && editpackCtrl.submitted">
               Please Enter Pack Name
            </p>
          </div>

          <div class="form-group">
            <label>Price</label>
            <input type="number" name="Price" class="form-control" ng-model="editpackCtrl.Price" required>
          </div>
          <div class="form-group has-error">
            <p class="help-block" ng-show="form.Price.$error.number && editpackCtrl.submitted">
              Price in Numbers Only
            </p>
            <p class="help-block" ng-show="form.Price.$error.required && editpackCtrl.submitted">
               Please Enter Price
            </p>
          </div>

          <div class="form-group">
            <label>Product Info for PayuMoney</label>
            <input type="text" name="ProductInfo" class="form-control" ng-model="editpackCtrl.ProductInfo" required>
          </div>
          <div class="form-group has-error">
            <p class="help-block" ng-show="form.ProductInfo.$error.required && editpackCtrl.submitted">
               Please Enter Product  Info For PayuMoney
            </p>
          </div>

          <div class="form-group">
            <label>No.Of Tests</label>
            <input type="text"class="form-control" name="NoOfTests"ng-model="editpackCtrl.mytests.length" value="" disabled>
          </div>

          <!-- My Tests Starts -->
          <h3>This Pack Tests</h3>
          <div style="overflow-x:scroll;overflow-y:scroll;height:400px">
            <hr>
          <table class="table table-responsive table-bordered">

            <tr>
              <th>S.No</th>
              <th>Test Name</th>
              <th>Test Type</th>
              <th>No Of Questions</th>
              <th>Duration</th>
            </tr>
            <tr ng-repeat="test in editpackCtrl.mytests">
              <td>{{$index +1}}</td>
              <td>{{test.testTitle}}
                <br><br><br>
                <button type="button" class="btn btn-danger"
                ng-click="editpackCtrl.toggleT(test)">
                  <span class="glyphicon glyphicon-minus"></span></button>
              </td>
              <td>{{test.ObjTestType.Ttype}}</td>
              <td>{{test.ObjTestType.NoOfQu}}</td>
              <td>{{test.ObjTestType.Duration}}</td>
            </tr>
          </table>
          </div>
          <!-- My Tests Ends -->

          <div>
            <button class="btn btn-primary btn-lg btn-login" type="button"ng-click="editpackCtrl.Update(form)">
              Update Pack
            </button>
            <br><br>
          </div>

        </form>


        <!-- All Tests Starts -->
        <h3>All Tests</h3>
        <div style="overflow-x:scroll;overflow-y:scroll;height:400px">
          <hr>
        <table class="table table-responsive table-bordered">

          <tr>
            <th>S.No</th>
            <th>Test Name</th>
            <th>Test Type</th>
            <th>No Of Questions</th>
            <th>Duration</th>
          </tr>
          <tr ng-repeat="test in editpackCtrl.alltests">
            <td>{{$index +1}}</td>
            <td>{{test.testTitle}}
              <br><br><br>
              <button type="button" class="btn btn-success"
              ng-click="editpackCtrl.toggleT(test)">
                <span class="glyphicon glyphicon-plus"></span></button>
            </td>
            <td>{{test.ObjTestType.Ttype}}</td>
            <td>{{test.ObjTestType.NoOfQu}}</td>
            <td>{{test.ObjTestType.Duration}}</td>
          </tr>
        </table>
        </div>
        <!-- All Tests Ends -->


    </div>
  </div>
</div>
<!-- <script type="text/javascript" async
src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script> -->
