<div class="container-fluid"style="background-color:#e8e8e8;min-height:75vh;">
<div class="container">
  <div class="col-md-10 col-md-offset-1"style="background-color:white;margin-top:50px;padding-top:1%;">

    <div class="col-md-4">
      <div class="panel panel-default text-center pricePanel">
        <div class="panel-heading pricePanelHead"style="padding:2%">
          <h3>{{viewpackCtrl.pack.PackName}}</h3>
        </div>
        <div class="panel-body">
          <p><strong>{{viewpackCtrl.pack.NoOfTest}}</strong> Mock Tests</p>
          <p><strong>{{viewpackCtrl.pack.testType.Maxmarks}}</strong> Marks</p>
          <p><strong>{{viewpackCtrl.pack.testType.Duration}}</strong> Minutes</p>
          <p><strong>1</strong> Free Test</p>
          <!-- <p><strong>Endless</strong> Amet</p> -->
        </div>
      </div>
    <hr>
    </div>

    <div class="col-md-4">
    <h3 ><a ng-click="mypackagesCtrl.buy(pack._id)"class="styleviewpackageAnchor">{{viewpackCtrl.pack.PackName}}</a></h3><br>
    <ul style="color:grey;font-weight:303;font-size:18px;">
      <li>{{viewpackCtrl.pack.NoOfTest}} Mock Tests</li>
      <li>Based on Latest Syllabus</li>
      <li>Solutions and Answers</li>
    </ul>
    </div>

    <div class="col-md-4 text-center"ng-hide="viewpackCtrl.p">
      <div class=" pricePanelFoot ">
        <br>
        <h3 style="color:mediumseagreen;vertical-align:middle">&#8377;{{viewpackCtrl.pack.Price}}/-</h3>
        <!-- <h4>per month</h4> -->
        <!-- <button class="btn btn-lg">Buy Now</button> -->
      </div>
      <br>
      <button ng-hide="mypackagesCtrl.isPurchased(pack._id)"type="button" class="btn btn-lg buyviewpackbtn "ng-click="viewpackCtrl.buy()">
        BUY NOW
      </button>
    </div>

  </div>

  <div class="col-md-10 col-md-offset-1"style="background-color:white;margin-top:15px;padding-top:1%;">
    <div class="col-md-12">
      <p style="font-size:25px;font-weight:normal">Package Details</p>
      <hr></hr>
      <!-- <h3 style="color:mediumseagreen;font-weight:300;">SSC CGL</h3> -->
    </div>
    <div class="col-md-12 table"style="overflow-x:scroll;">
      <table class="table table-responsive table-hover ">
        <tr ng-repeat="test in viewpackCtrl.tests">
          <td>
            <div class="numberCircle">
              {{$index+1}}
            </div>
          </td>
          <td><h4 style="line-height:25px">{{test.testTitle}}</h4></td>
          <td>
            <div class="text-right"style="line-height:25px">
              <button ng-hide="viewpackCtrl.p||$index<2"type="button" class="btn btn-lg buytounlock
               "ng-click="viewpackCtrl.buy()">
              <span class="glyphicon glyphicon-lock"></span> BUY TO UNLOCK
              </button>

              <button ng-show="viewpackCtrl.p||$index<2"type="button" class="btn btn-lg buyviewpackbtn
               "ng-click="viewpackCtrl.Attempt(test,$index)">
               ATTEMPT NOW
              </button>

              <button ng-show=""type="button" class="btn btn-lg attempted
               "ng-click="mypackagesCtrl.buy(pack._id)">
               ATTEMPTED
              </button>
          </div>
        </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1"style="background-color:white;margin-top:15px;padding-top:1%;margin-bottom:20px;">
    <div class="col-md-12">
    <h4>If you are facing any issue, mail us at <a href="mailto:prajwalbhati@hotmail.com?subject=feedback">prajwalbhati@hotmail.com</a></h4>
    </div>
  </div>

</div>
</div>
