<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div> -->

<style media="screen">
</style>
<!-- BootSnip Carousel Starts -->
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1">
          <div class="overlay"></div>
      </div>
      <div class="hero">
        <hgroup>
            <h1>SSC CGL Test Series</h1>
            <h3>Kick Start your SSC CGL Prep</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">See all features</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2">
          <div class="overlay"></div>
      </div>
      <div class="hero">
        <hgroup>
            <h1>We are smart</h1>
            <h3>Get regular performance reports</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">See all features</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3">
          <div class="overlay"></div>
      </div>
      <div class="hero">
        <hgroup>
            <h1>Start your Prep</h1>
            <h3> Attempt Free Mock Tests based on Latest Pattern & Syllabus</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">See all features</button>
      </div>
    </div>
  </div>
</div>
  <!-- /BootNsip Carousel Ends -->


<br><br>


<!-- Services Starts -->
<div class="container-fluid text-center">
  <!-- <h2>SERVICES</h2> -->
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphStyle glyphicon glyphicon-equalizer"></span>
      <h3>All India Rank</h3>
      <p>Get Rank Among 20,000+ SSC Aspirants</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphStyle glyphicon glyphicon-pencil"></span>
      <h3>Practice Tests</h3>
      <p>Practice Test to face SSC-CGL confidently</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphStyle glyphicon glyphicon-signal"></span>
      <h3>Improve Your Score</h3>
      <p>Get Detailed Performance Analysis viz-a-viz topper</p>
    </div>
    </div>
    <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphStyle glyphicon glyphicon-heart"></span>
      <h3>After Test Support</h3>
      <p>Get Detailed solutions of every Question and track your weak points</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphStyle glyphicon glyphicon-flash"></span>
      <h3>Exact Pattern</h3>
      <p>Check your Preparation From Tests based on Exact Pattern of SSC CGL</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphStyle glyphicon glyphicon-wrench"></span>
      <h3>HARD WORK</h3>
      <p>Work Hard and you'll surely chase your Dream Job!</p>
    </div>
  </div>
</div>
<!-- Services Ends -->
<br><br><br><br><br><br>

<!-- Tests Price Starts -->
<div class="container-fluid">
  <div class="text-center">
    <h2>Test Packs</h2>
    <h4>Choose a pack and start your prep today!</h4>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default text-center pricePanel">
        <div class="panel-heading pricePanelHead">
          <h1>SSC CGL Tier-I</h1>
        </div>
        <div class="panel-body">
          <p><strong>20</strong> Mock Tests</p>
          <p><strong>200</strong> Marks</p>
          <p><strong>60</strong> Minutes</p>
          <p><strong>1</strong> Free Test</p>
          <!-- <p><strong>Endless</strong> Amet</p> -->
        </div>
        <div class="panel-footer pricePanelFoot">
          <h3>&#8377;250.00</h3>
          <!-- <h4>per month</h4> -->
          <button class="btn btn-lg">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default text-center pricePanel">
        <div class="panel-heading pricePanelHead">
          <h1>SSC CGL Tier-II Maths</h1>
        </div>
        <div class="panel-body">
          <p><strong>20</strong> Mock Tests</p>
          <p><strong>200</strong> Marks</p>
          <p><strong>120</strong> Minutes</p>
          <p><strong>5</strong> Free Test</p>
          <!-- <p><strong>Endless</strong> Amet</p> -->
        </div>
        <div class="panel-footer pricePanelFoot">
          <h3>&#8377;280.00</h3>
          <!-- <h4>per month</h4> -->
          <button class="btn btn-lg">Buy Now</button>
        </div>
      </div>
    </div>
   <div class="col-sm-4">
      <div class="panel panel-default text-center pricePanel">
        <div class="panel-heading pricePanelHead">
          <h1>SSC CGL Tier-II English</h1>
        </div>
        <div class="panel-body">
          <p><strong>20</strong> Mock Tests</p>
          <p><strong>200</strong> Marks</p>
          <p><strong>120</strong> Minutes</p>
          <p><strong>5</strong> Free Test</p>
          <!-- <p><strong>Endless</strong> Amet</p> -->
        </div>
        <div class="panel-footer pricePanelFoot">
          <h3>&#8377;280.00</h3>
          <!-- <h4>per month</h4> -->
          <button class="btn btn-lg">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Tests Ends -->
<br><br>
<!-- Our Students Starts -->
<div class="container-fluid text-center bg-grey">
<h2>What our Students say</h2>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="StudentsImageStyle">
        <img class="img-rounded" src="https://i.pinimg.com/736x/5e/a4/be/5ea4bee4e460d15483e5d08b5e8bb23f--anatomy-art-future-boyfriend.jpg"width="100%"height="100%" alt="">
      </div>
    <h4>"This company is the best. I am so happy with the result!"<br><span style="font-style:normal;">Michael Roe, Vice President, Comment Box</span></h4>
    </div>
    <div class="item">
      <div class="StudentsImageStyle">
        <img class="img-rounded" src="https://i.pinimg.com/736x/5e/a4/be/5ea4bee4e460d15483e5d08b5e8bb23f--anatomy-art-future-boyfriend.jpg"width="100%"height="100%" alt="">
      </div>
      <h4>"One word... WOW!!"<br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
    </div>
    <div class="item">
      <div class="StudentsImageStyle">
        <img class="img-rounded" src="https://i.pinimg.com/736x/5e/a4/be/5ea4bee4e460d15483e5d08b5e8bb23f--anatomy-art-future-boyfriend.jpg"width="100%"height="100%" alt="">
      </div>
      <h4>"Could I... BE any more happy with this company?"<br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<!-- Our Students Ends -->

<!-- FAQ Start -->
<div class="container-fluid "style="padding:10%">
  <h5>FREQUENTLY ASKED QUESTIONS</h5>
  <div class="row"id="myAccordion">
    <div class="col-md-6 panel Question">

      <!-- <div class="Question "> -->

          <a href="#"data-parent="#myAccordion"class="noStyleAnchor col-md-12"data-toggle="collapse"data-target="#FAQ1">
           <span class="glyphicon glyphicon-chevron-right"style="color:skyblue;"></span>
           <span class="faqQuestion">Why should I enroll for SSC online Test Series ?</span>
          </a>
        <div class="collapse FAQanswer col-md-12"id="FAQ1">
            <h5> &nbspFeel the real exam through our tests</h5>
                <ul>
                  <li>Includes everything that you are expected to face in SSC exam</li>
                  <li>SSC exam pattern questions, the best of Testbook - designed by highly experienced experts</li>
                  <li>Leave no surprises for the test day - get yourself acquainted with Exam interface on our tests</li>
                </ul>
            <h5> &nbspReview your performance on tests and learn</h5>
                <ul>
                  <li>Gauge where you stand with our rank estimate</li>
                  <li>Get scientific and detailed analysis of your performance - thanks to our expert data scientists. We track everything you can imagine!</li>
                  <li>Get access to detailed solutions and explanations written by experts</li>
                </ul>
        </div>
      <!-- </div> -->

    </div>

    <div class="col-md-6 panel Question">
      <!-- <div class="Question "> -->

          <a href="#"data-parent="#myAccordion"class="noStyleAnchor col-md-12"data-toggle="collapse"data-target="#FAQ2">
           <span class="glyphicon glyphicon-chevron-right"style="color:skyblue;"></span>
           <span class="faqQuestion">Why is it asking for my phone number and Email ?</span>
          </a>
        <div class="collapse FAQanswer col-md-12"id="FAQ2">
            <p>Phone number and email id is to ensure that we can track back your transaction in case you face any technical issue during payment. Testbook assures you that it would not be used for any other purpose.
Registration number is to ensure that only real aspirants appear for the Test Series so that the best possible estimate of your rank can be obtained</p>
        </div>
        <!-- ^Endcollapse -->
      <!-- </div> -->
      <!-- ^EndQuestion -->
    </div>
    <!-- ^Endcol-md-6 -->

    <div class="col-md-7 panel Question">

      <!-- <div class="Question "> -->

          <a href="#"data-parent="#myAccordion"class="noStyleAnchor col-md-12 col-md-12"data-toggle="collapse"data-target="#FAQ3">
           <span class="glyphicon glyphicon-chevron-right"style="color:skyblue;"></span>
           <span class="faqQuestion">What is the schedule for test ?</span>
          </a>
        <div class="collapse FAQanswer col-md-12"id="FAQ3">
            <p>You can take tests at any time of your convenience after their launch date.</p>
        </div>
      <!-- </div> -->

    </div>

    <div class="col-md-5 panel Question">

      <!-- <div class="Question "> -->

          <a href="#"data-parent="#myAccordion"class="noStyleAnchor col-md-12"data-toggle="collapse"data-target="#FAQ4">
           <span class="glyphicon glyphicon-chevron-right"style="color:skyblue;"></span>
           <span class="faqQuestion">Do I need to pay for the Test ?</span>
          </a>
        <div class="collapse FAQanswer col-md-12"id="FAQ4">
            <p>You may appear for one free sample test, apart from that live test is also available free of cost. Rest of the tests are paid.</p>
        </div>
      <!-- </div> -->

    </div>

    <div class="col-md-6 panel Question">

      <!-- <div class="Question "> -->

          <a href="#"data-parent="#myAccordion"class="noStyleAnchor col-md-12"data-toggle="collapse"data-target="#FAQ5">
           <span class="glyphicon glyphicon-chevron-right"style="color:skyblue;"></span>
           <span class="faqQuestion">Will the paper pattern be exactly like the new SSC Pattern ?</span>
          </a>
        <div class="collapse FAQanswer col-md-12"id="FAQ5">
            <p>Yes, the tests are based on the latest pattern and we will provide you the closest and the best exam experience before the actual exam.</p>
        </div>
      <!-- </div> -->

    </div>

    <div class="col-md-6 panel Question">

      <!-- <div class="Question "> -->

          <a href="#"data-parent="#myAccordion"class="noStyleAnchor col-md-12"data-toggle="collapse"data-target="#FAQ7">
           <span class="glyphicon glyphicon-chevron-right"style="color:skyblue;"></span>
           <span class="faqQuestion">My transaction failed but money got deducted from my Account.</span>
          </a>
        <div class="collapse FAQanswer col-md-12"id="FAQ7">
            <p>Do not worry. Your money is always yours. Just send us an email at support@testbook.com with your order details and we will do our best to help you.</p>
        </div>
      <!-- </div> -->

    </div>

    <div class="col-md-7 panel Question">

      <!-- <div class="Question "> -->

          <a href="#"data-parent="#myAccordion"class="noStyleAnchor col-md-12"data-toggle="collapse"data-target="#FAQ8">
           <span class="glyphicon glyphicon-chevron-right"style="color:skyblue;"></span>
           <span class="faqQuestion">Will I get any Report Card after test.</span>
          </a>
        <div class="collapse FAQanswer col-md-12"id="FAQ8">
            <p>Yes, you will get a detailed analysis of your performance after the test.</p>
        </div>
      <!-- </div> -->

    </div>
    <div class="col-md-5 panel Question">

      <!-- <div class="Question "> -->

          <a href="#"data-parent="#myAccordion"class="noStyleAnchor col-md-12"data-toggle="collapse"data-target="#FAQ9">
           <span class="glyphicon glyphicon-chevron-right"style="color:skyblue;"></span>
           <span class="faqQuestion">Do you alse provide Solutions for the Questions</span>
          </a>
        <div class="collapse FAQanswer col-md-12"id="FAQ9">
            <p>Yes, detailed solutions will be available to you after you finish the test. You will be able to access these solutions anytime after that</p>
        </div>
      <!-- </div> -->

    </div>

    <div class="col-md-6 panel Question">

      <!-- <div class="Question "> -->

          <a href="#"data-parent="#myAccordion"class="noStyleAnchor col-md-12"data-toggle="collapse"data-target="#FAQ10">
           <span class="glyphicon glyphicon-chevron-right"style="color:skyblue;"></span>
           <span class="faqQuestion">Can I download the Question Paper with solutions after the test</span>
          </a>
        <div class="collapse FAQanswer col-md-12"id="FAQ10">
            <p>No, you cannot download the paper; however, you can access the paper and its solutions by logging in to your account.</p>
        </div>
      <!-- </div> -->

    </div>

    <div class="col-md-6 panel Question">

      <!-- <div class="Question "> -->

          <a href="#"data-parent="#myAccordion"class="noStyleAnchor col-md-12"data-toggle="collapse"data-target="#FAQ6">
           <span class="glyphicon glyphicon-chevron-right"style="color:skyblue;"></span>
           <span class="faqQuestion">I do not have online payment activated, can I use any other mode of payment?</span>
          </a>
        <div class="collapse FAQanswer col-md-12"id="FAQ6">
            <p>You can use your Debit card, ATM card, Credit card or Netbanking account to pay for the package. If you do not have any of the above payment methods, send us an email at support@testbook.com and we will suggest an alternative method.</p>
        </div>
      <!-- </div> -->

    </div>

  </div>
  <!-- ^EndRow -->
</div>
<!-- FAQ END -->
<script type="text/javascript">
  $(document).ready(function(){
    console.log('ready');
  });
</script>
