<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="sidenavbarAdmin">
        <a href="/admin"><span class="glyphicon glyphicon-home"></span> Dash Board</a><br>
        <a href="/admin"><span class="glyphicon glyphicon-user"></span> Users</a><br>
        <a href="/addquestype"><span class="glyphicon glyphicon-film"></span> Question Type</a><br>
        <a href="/addquestion"><span class="glyphicon glyphicon-th"></span> Questions</a><br>
        <a href="/addtesttype"><span class="glyphicon glyphicon-briefcase"></span> Test Type</a><br>
        <a href="/addtest"><span class="glyphicon glyphicon-pencil"></span> Create Tests</a><br>
        <a href="/edittest"><span class="glyphicon glyphicon-edit"></span> Edit Tests</a><br>
        <a href="/addpack"><span class="glyphicon glyphicon-th-large"></span> Pack</a><br>

      </div>
    </div>
    <div class="col-md-9">
      <h2 class="text-primary">Add Tests</h2>
      <p>Add <code>Tests</code> here</p>
      <br>
      <br>
      <form class="form" name="form" novalidate>

        <div class="form-group">
          <label>Test Name</label>
          <input type="text" name="InputTestName" class="form-control" ng-model="addtestCtrl.InputTestName"
          placeholder="SSC CGL TIER 1 Mock Test" required>
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.InputTestName.$error.required && addtestCtrl.submitted">
             Please Enter Test Name
          </p>
        </div>

        <div class="form-group">
          <label>Test Type</label>
          <select  class="form-control" name="testType"ng-model="addtestCtrl.SelectedTestType"ng-change="addtestCtrl.Reload()"
          ng-options="x.Ttype for x in addtestCtrl.testTypes" required>
          </select>
          <div class="form-group has-error">
            <p class="help-block" ng-show="form.testType.$error.required && addtestCtrl.submitted">
               Please Select Test Type
            </p>
            <p class="help-block" ng-show="addtestCtrl.myquestions.length!==addtestCtrl.SelectedTestType.NoOfQu ">
               Please Add {{addtestCtrl.SelectedTestType.NoOfQu - addtestCtrl.myquestions.length}} more Questions
            </p>
          </div>
        </div>

        <div class="container">
          <ul class="nav nav-pills pull-left"style="border:solid 4px whitesmoke"
          ng-repeat="x in addtestCtrl.SelectedTestType.Qtypes">
            <li ng-class="{ 'active':addtestCtrl.SelectedQTypeDOM===x}">
              <a ng-click="addtestCtrl.SelectedQTypeDOM=x"onmousemove="LoadMathDB()"href="#">{{x}}</a></li>
          </ul>
        </div>

        <!-- My Test Questions Starts -->

        <h3>This Test {{addtestCtrl.SelectedQTypeDOM}} Questions</h3>
        <div id="LoadMath"style="overflow-x:scroll;overflow-y:scroll;height:400px">
          <hr>
          <!-- <center><button type="button" class="btn btn-success"onclick="LoadMathDB()"onmousemove="LoadMathDB()">
            Reload Maths
          </button></center> -->
        <table class="table table-responsive table-bordered">

          <tr>
            <th>S.No</th>
            <th>Question</th>
            <th>Question Type</th>
            <th>Ques Image</th>
            <th>Options</th>
            <th>Ans</th>
            <th>Solution</th>
            <th>Solution Image</th>
          </tr>
          <tr ng-repeat="question in addtestCtrl.myquestions | filter:{questype:addtestCtrl.SelectedQTypeDOM}|filter:addtestCtrl.Search">
            <td>{{$index +1}}</td>
            <td>{{question.question}}
              <br><br><br>
              <button type="button" class="btn btn-danger"
              ng-click="addtestCtrl.toggleQ(question)">
                <span class="glyphicon glyphicon-minus"></span></button>
            </td>
            <td>{{question.questype}}</td>
            <td>
              <div ng-show="{{question.quesImg!==''}}"class=""style="height:250px;width:350px;overflow:hidden">
                <img src=""ng-src="{{question.quesImg}}"width="100%"height="100%" alt="No Img">
              </div>
            </td>
            <td>
              <ul>
                <li>{{question.a}}
                  <div ng-show="{{question.aURL!==''}}"class="">
                  <br><a ng-href="{{question.aURL}}"target="_blank">Option A Image</a>
                  </div>
                </li>
                <li>{{question.b}}
                  <div ng-show="{{question.bURL!==''}}"class="">
                  <br><a ng-href="{{question.bURL}}"target="_blank">Option B Image</a>
                  </div>
                </li>
                <li>{{question.c}}
                  <div ng-show="{{question.cURL!==''}}"class="">
                  <br><a ng-href="{{question.cURL}}"target="_blank">Option C Image</a>
                  </div>
                </li>
                <li>{{question.d}}
                  <div ng-show="{{question.dURL!==''}}"class="">
                  <br><a ng-href="{{question.dURL}}"target="_blank">Option D Image</a>
                  </div>
                </li>
              </ul>
            </td>
            <td>{{question.ans}}</td>
            <td>{{question.solution}}</td>
            <td>
              <div ng-show="{{question.solutionImg!==''}}"class=""style="height:250px;width:250px;overflow:hidden">
                <img src=""ng-src="{{question.solutionImg}}"width="100%"height="100%" alt="No Img">
              </div>
           </td>
          </tr>
        </table>
        </div>
        <!-- My Test Questions Ends -->

      <br><br>
      <button type="button" class="btn btn-success"ng-class="{ 'disabled':addtestCtrl.myquestions.length!==addtestCtrl.SelectedTestType.NoOfQu}"
        ng-click="addtestCtrl.Create(form)">
        Create Test
      </button>
      </form>

      <hr><hr>
      <!-- All Questions DB -->
      <br><br><br>
      <h3>All {{addtestCtrl.SelectedQTypeDOM}} Questions</h3><br>
      <input type="text"class="form-control" name="Search" placeholder="Search Question Here"ng-model="addtestCtrl.Search">
      <div id="LoadMath"style="overflow-x:scroll">
        <br><br><hr>
        <center><button type="button" class="btn btn-success"onclick="LoadMathDB()"onmousemove="LoadMathDB()">
          Reload Maths
        </button></center>
      <table class="table table-responsive table-bordered">

        <tr>
          <th>S.No</th>
          <th>Question</th>
          <th>Question Type</th>
          <th>Ques Image</th>
          <th>Options</th>
          <th>Ans</th>
          <th>Solution</th>
          <th>Solution Image</th>
        </tr>
        <tr ng-repeat="question in addtestCtrl.allquestions | filter:{questype:addtestCtrl.SelectedQTypeDOM}|filter:addtestCtrl.Search">
          <td>{{$index +1}}</td>
          <td>{{question.question}}
            <br><br><br>
            <button type="button" class="btn btn-success"
            ng-click="addtestCtrl.toggleQ(question)">
              <span class="glyphicon glyphicon-plus "></span></button>

          </td>
          <td>{{question.questype}}</td>
          <td>
            <div ng-show="{{question.quesImg!==''}}"class=""style="height:250px;width:350px;overflow:hidden">
              <img src=""ng-src="{{question.quesImg}}"width="100%"height="100%" alt="No Img">
            </div>
          </td>
          <td>
            <ul>
              <li>{{question.a}}
                <div ng-show="{{question.aURL!==''}}"class="">
                <br><a ng-href="{{question.aURL}}"target="_blank">Option A Image</a>
                </div>
              </li>
              <li>{{question.b}}
                <div ng-show="{{question.bURL!==''}}"class="">
                <br><a ng-href="{{question.bURL}}"target="_blank">Option B Image</a>
                </div>
              </li>
              <li>{{question.c}}
                <div ng-show="{{question.cURL!==''}}"class="">
                <br><a ng-href="{{question.cURL}}"target="_blank">Option C Image</a>
                </div>
              </li>
              <li>{{question.d}}
                <div ng-show="{{question.dURL!==''}}"class="">
                <br><a ng-href="{{question.dURL}}"target="_blank">Option D Image</a>
                </div>
              </li>
            </ul>
          </td>
          <td>{{question.ans}}</td>
          <td>{{question.solution}}</td>
          <td>
            <div ng-show="{{question.solutionImg!==''}}"class=""style="height:250px;width:250px;overflow:hidden">
              <img src=""ng-src="{{question.solutionImg}}"width="100%"height="100%" alt="No Img">
            </div>
         </td>
        </tr>
      </table>
      </div>
      <!-- All Questions Table Ends -->


    </div>
  </div>
</div>
<!-- <script type="text/javascript" async
src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script> -->
<!-- <script src="bower_components/MathJax/MathJax.js" async></script> -->
<script type="text/javascript">
function LoadMathDB(){
  console.log('LoadMathDB ADMIN');
  var x=document.getElementById('#LoadMath');
  MathJax.Hub.Queue(["Typeset",MathJax.Hub,x]);
}
</script>
