<!-- Latex Script MathJax -->
<!-- <script type="text/javascript" async
src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script> -->
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="sidenavbarAdmin">
        <a href="/admin"><span class="glyphicon glyphicon-home"></span> Dash Board</a><br>
        <a href="/admin"><span class="glyphicon glyphicon-user"></span> Users</a><br>
        <a href="/addquestype"><span class="glyphicon glyphicon-film"></span> Question Type</a><br>
        <a href="/addquestion"><span class="glyphicon glyphicon-th"></span> Questions</a><br>
        <a href="/addtesttype"><span class="glyphicon glyphicon-briefcase"></span> Test Type</a><br>
        <a href="/addtest"><span class="glyphicon glyphicon-pencil"></span> Tests</a><br>
        <a href="/addpack"><span class="glyphicon glyphicon-th-large"></span> Pack</a><br>

      </div>
    </div>
    <div class="col-md-9">

        <h2 class="text-primary">Add Test Type</h2>
        <p>Add <code>Test Type</code> here</p>
        <br>
        <br>
        <form class="form" name="form" novalidate>

          <div class="form-group">
            <label>Test Type</label>
            <input type="text" name="InputTesttype" class="form-control" ng-model="addtesttypeCtrl.InputTesttype" required>
          </div>
          <div class="form-group has-error">
            <p class="help-block" ng-show="form.InputTesttype.$error.required && addtesttypeCtrl.submitted">
               Please Enter Test Type
            </p>
          </div>

          <div class="form-group">
            <label>Maximum Marks</label>
            <input type="number" name="InputTesttypeMarks" class="form-control" ng-model="addtesttypeCtrl.InputTesttypeMarks" required>
          </div>
          <div class="form-group has-error">
            <p class="help-block" ng-show="form.InputTesttypeMarks.$error.required && addtesttypeCtrl.submitted">
               Please Enter Test Marks
            </p>
            <p class="help-block" ng-show="form.InputTesttypeMarks.$error.number && addtesttypeCtrl.submitted">
               Please Enter Test Marks in Numbers(200)
            </p>
          </div>

          <div class="form-group">
            <label>Number Of Questions</label>
            <input type="number" name="NoOfQuestion" class="form-control" ng-model="addtesttypeCtrl.NoOfQuestion" required>
          </div>
          <div class="form-group has-error">
            <p class="help-block" ng-show="form.NoOfQuestion.$error.required && addtesttypeCtrl.submitted">
               Please Enter No Of Question
            </p>
            <p class="help-block" ng-show="form.NoOfQuestion.$error.number && addtesttypeCtrl.submitted">
               Please Enter No Of Question in Numbers(100)
            </p>
          </div>

          <div class="form-group">
            <label>Duration</label>
            <input type="number"placeholder="Enter Duration in minutes:60,75,120 etc" name="Duration"
            class="form-control" ng-model="addtesttypeCtrl.Duration" required>
          </div>
          <div class="form-group has-error">
            <p class="help-block" ng-show="form.Duration.$error.required && addtesttypeCtrl.submitted">
               Please Enter Test Duration
            </p>
            <p class="help-block" ng-show="form.Duration.$error.number && addtesttypeCtrl.submitted">
               Please Enter Test Duration in Numbers(60,75,120 etc)
            </p>
          </div>

          <div class="form-group">
            <label>Marks For Correct Response</label>
            <input type="number"placeholder="Enter Marks of correct response:1,2, etc" name="PositiveMarks"
            class="form-control" ng-model="addtesttypeCtrl.PositiveMarks" required>
          </div>
          <div class="form-group has-error">
            <p class="help-block" ng-show="form.PositiveMarks.$error.required && addtesttypeCtrl.submitted">
               Please Enter Test Marks for correct Response
            </p>
            <p class="help-block" ng-show="form.PositiveMarks.$error.number && addtesttypeCtrl.submitted">
               Please Enter Test Marks in Numbers(1,2 etc)
            </p>
          </div>

          <div class="form-group">
            <label>Negative Marks For Wrong Response</label>
            <input type="number"placeholder="Enter | Marks | of Incorrect response:1,0.25, etc" name="NegativeMarks"
            class="form-control" ng-model="addtesttypeCtrl.NegativeMarks" required>
          </div>
          <div class="form-group has-error">
            <p class="help-block" ng-show="form.NegativeMarks.$error.required && addtesttypeCtrl.submitted">
               Please Enter Test Marks for Incorrect Response
            </p>
            <p class="help-block" ng-show="form.NegativeMarks.$error.number && addtesttypeCtrl.submitted">
               Please Enter Test Marks in Numbers(1,0.25 etc)
            </p>
          </div>

          <div class="form-group">
            <label>Question Types For this Test</label><br><br>
            <div class="col-md-6"style="border:solid 5px whitesmoke">
              <label> Total Question Types</label>
            <ol class="nav nav-pills" ng-repeat="x in addtesttypeCtrl.questypes">
              <li><a href="#"ng-click="addtesttypeCtrl.toggleQ(x)">{{x}}</li></a>
            </ol>
            </div>
            <div class="col-md-6"style="border:solid 5px whitesmoke">
              <label> Selected Question Types For This Test Type</label>
            <ol class="nav nav-pills"ng-repeat="x in addtesttypeCtrl.selectedQuesTypes">
              <li><a href="#"ng-click="addtesttypeCtrl.toggleQ(x)">{{x}}</a></li>
            </ol>
            </div>
          </div>

          <div class="form-group has-error">
            <p class="help-block"ng-show="addtesttypeCtrl.submitted && !addtesttypeCtrl.selectedQuesTypes.length">
            Please Select Question Types For This Test
            </p>
          </div>

          <br>
          <div class="col-md-12">
            <button class="btn btn-primary btn-lg btn-login" ng-show="addtesttypeCtrl.create"type="button"ng-click="addtesttypeCtrl.Create(form)">
              Add
            </button>
            <button class="btn btn-primary btn-lg btn-login" ng-show="!addtesttypeCtrl.create"type="button"ng-click="addtesttypeCtrl.Update(form)">
              Update
            </button>
            <br><br>
          </div>

        </form>

        <!-- Types from DB Table -->
        <div class="table"style="overflow-x:scroll">
        <table class="table table-responsive table-bordered">
          <tr>
            <th>Test Type</th>
            <th>Question Types</th>
            <th>MaxMarks</th>
            <th>Duration</th>
            <th>No.Questions</th>
            <th>PositiveMark</th>
            <th>NegativeMark</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <tr ng-repeat="type in addtesttypeCtrl.testtypes">
            <td>{{type.Ttype}}</td>
            <td>
              <ul ng-repeat="y in type.Qtypes">
                <li>{{y}}</li>
              </ul>
            </td>
            <td>{{type.Maxmarks}}</td>
            <td>{{type.Duration}}</td>
            <td>{{type.NoOfQu}}</td>
            <td>{{type.PositiveMark}}</td>
            <td>{{type.NegativeMark}}</td>
            <td><a href="#"ng-click="addtesttypeCtrl.loadForUpdate(type)"><span class="glyphicon glyphicon-pencil text-primary"></span></a></td>
            <td><a href="#" ng-click="addtesttypeCtrl.Delete(type)"><span class="glyphicon glyphicon-trash text-danger"></span></a></td>

          </tr>
        </table>
      </div>

    </div>
  </div>



</div>
<!-- <script type="text/javascript" async
src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script> -->
