<!-- Latex Script MathJax -->
<!-- <script type="text/javascript" async
src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script> -->
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="sidenavbarAdmin">
        <a href="/admin"><span class="glyphicon glyphicon-home"></span> Dash Board</a><br>
        <a href="/admin"><span class="glyphicon glyphicon-user"></span> Users</a><br>
        <a href="/addquestype"><span class="glyphicon glyphicon-film"></span> Question Type</a><br>
        <a href="/addquestion"><span class="glyphicon glyphicon-th"></span> Questions</a><br>
        <a href="/addtesttype"><span class="glyphicon glyphicon-briefcase"></span> Test Type</a><br>
        <a href="/addtest"><span class="glyphicon glyphicon-pencil"></span> Create Tests</a><br>
        <a href="/edittest"><span class="glyphicon glyphicon-edit"></span> Edit Tests</a><br>
        <a href="/addpack"><span class="glyphicon glyphicon-th-large"></span> Create Pack</a><br>
        <a href="/editpack"><span class="glyphicon glyphicon-th-list"></span> Edit Pack</a><br>

      </div>
    </div>
    <div class="col-md-9">
      <h2 class="text-primary">Add Questions</h2>
      <p>Add <code>Questions</code> here</p>
      <br>
      <br>
      <form class="form" name="form" novalidate>

        <div class="form-group">
          <label>Question Type</label>
          <select  class="form-control" name="questionType"ng-model="addquestionCtrl.questionType"
          ng-options="x for x in addquestionCtrl.questypes" required>
          </select>
          <div class="form-group has-error">
            <p class="help-block" ng-show="form.questionType.$error.required && addquestionCtrl.submitted">
               Please Select Question Type
            </p>
          </div>
        </div>


        <div class="form-group">
          <label>Question</label>
          <textarea  placeholder="Type the Question Here" name="Inputquestion" class="form-control"id="Ques"
           ng-model="addquestionCtrl.Inputquestion" required rows="8" cols="80"></textarea>
           <br>
           <button type="button" class="btn btn-info"onclick="LoadOutput('Ques','OutQues')">
            Display
          </button><br>
           <!-- <label>Output</label><br> -->
           <p id="OutQues"></p>
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.Inputquestion.$error.required && addquestionCtrl.submitted">
             Please Enter Question
          </p>
        </div>
<!-- <p>When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
  $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$</p> -->

        <div class="form-group">
          <label>Question Image URL</label>
          <input type="url" placeholder="Type the Question Image URL here (Optional)" name="InputquestionURL"
          class="form-control" ng-model="addquestionCtrl.InputquestionURL"ng-init="addquestionCtrl.InputquestionURL=''">
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.InputquestionURL.$error.url && addquestionCtrl.submitted">
             Please Enter Valid URL
          </p>
        </div>


        <div class="form-group">
          <label>Option A</label>
          <textarea type="text"id="A" placeholder="Type the Option A"
          name="OptionA" class="form-control" ng-model="addquestionCtrl.OptionA" required
          rows="4" cols="80"></textarea>
          <br>
          <p style="font-size:17px;padding-left:10px;"id="OA"></p>
          <button type="button" class="btn btn-info"onclick="LoadOutput('A','OA')">
           Display
         </button><br>
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.OptionA.$error.required && addquestionCtrl.submitted">
             Please Enter Option A
          </p>
        </div>

        <!-- Image Option A  -->
        <div class="form-group">
          <label>Option A Image URL</label>
          <input type="url" placeholder="(Optional) CDN" name="OptionAURL"
          class="form-control" ng-model="addquestionCtrl.OptionAURL"ng-init="addquestionCtrl.OptionAURL=''">
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.OptionAURL.$error.url && addquestionCtrl.submitted">
             Please Enter Valid URL
          </p>
        </div>
        <!-- Image Option A Ends -->

        <div class="form-group">
          <label>Option B</label>
          <textarea type="text"id="B" placeholder="Type the Option B"
          name="OptionB" class="form-control" ng-model="addquestionCtrl.OptionB" required
          rows="4" cols="80"></textarea>
          <br>
          <p style="font-size:17px;padding-left:10px;"id="OB"></p>
          <button type="button" class="btn btn-info"onclick="LoadOutput('B','OB')">
           Display
         </button><br>
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.OptionB.$error.required && addquestionCtrl.submitted">
             Please Enter Option B
          </p>
        </div>

        <!-- Image Option B  -->
        <div class="form-group">
          <label>Option B Image URL</label>
          <input type="url" placeholder="(Optional) CDN" name="OptionBURL"
          class="form-control" ng-model="addquestionCtrl.OptionBURL"ng-init="addquestionCtrl.OptionBURL=''">
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.OptionBURL.$error.url && addquestionCtrl.submitted">
             Please Enter Valid URL
          </p>
        </div>
        <!-- Image Option A Ends -->

        <div class="form-group">
          <label>Option C</label>
          <textarea type="text"id="C" placeholder="Type the Option C"
           name="OptionC" class="form-control" ng-model="addquestionCtrl.OptionC" required
           rows="4" cols="80"></textarea>
          <br>
          <p style="font-size:17px;padding-left:10px;"id="OC"></p>
          <button type="button" class="btn btn-info"onclick="LoadOutput('C','OC')">
           Display
         </button><br>
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.OptionC.$error.required && addquestionCtrl.submitted">
             Please Enter Option C
          </p>
        </div>

        <!-- Image Option C  -->
        <div class="form-group">
          <label>Option C Image URL</label>
          <input type="url" placeholder="(Optional) CDN" name="OptionCURL"
          class="form-control" ng-model="addquestionCtrl.OptionCURL"ng-init="addquestionCtrl.OptionCURL=''">
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.OptionCURL.$error.url && addquestionCtrl.submitted">
             Please Enter Valid URL
          </p>
        </div>
        <!-- Image Option A Ends -->

        <div class="form-group">
          <label>Option D</label>
          <textarea type="text"id="D" placeholder="Type the Option D"
           name="OptionD" class="form-control" ng-model="addquestionCtrl.OptionD" required
           rows="4" cols="80"></textarea>
          <br>
          <p style="font-size:17px;padding-left:10px;"id="OD"></p>
          <button type="button" class="btn btn-info"onclick="LoadOutput('D','OD')">
           Display
         </button><br>
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.OptionD.$error.required && addquestionCtrl.submitted">
             Please Enter Option D
          </p>
        </div>

        <!-- Image Option D  -->
        <div class="form-group">
          <label>Option D Image URL</label>
          <input type="url" placeholder="(Optional) CDN" name="OptionDURL"
          class="form-control" ng-model="addquestionCtrl.OptionDURL"ng-init="addquestionCtrl.OptionDURL=''">
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.OptionDURL.$error.url && addquestionCtrl.submitted">
             Please Enter Valid URL
          </p>
        </div>
        <!-- Image Option A Ends -->

        <div class="form-group">
          <label>Answer</label><br>
          <label class="radio-inline">
            <input type="radio" name="optradio"ng-model="addquestionCtrl.Ans"value="1"required>Option A
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio"ng-model="addquestionCtrl.Ans"value="2"required>Option B
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio"ng-model="addquestionCtrl.Ans"value="3"required>Option C
          </label>
          <label class="radio-inline">
            <input type="radio" name="optradio"ng-model="addquestionCtrl.Ans"value="4"required>Option D
          </label>
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.optradio.$error.required && addquestionCtrl.submitted">
             Please Select An Answer
          </p>
        </div>
        <br><br>


        <div class="form-group">
          <label>Solution</label>
          <textarea  placeholder="Type the Solution Here" name="Solution" class="form-control"id="Sol"
           ng-model="addquestionCtrl.Solution" required rows="8" cols="80" required></textarea>
           <br>
           <button type="button" class="btn btn-info"onclick="LoadOutput('Sol','OutSol')">
            Display
          </button><br>
           <!-- <label>Output</label><br> -->
           <p id="OutSol"></p>
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.Solution.$error.required && addquestionCtrl.submitted">
             Please Enter Solution
          </p>
        </div>
<!-- <p>When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
  $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$</p> -->

        <div class="form-group">
          <label>Solution Image URL</label>
          <input type="url" placeholder="Type the Solution Image URL here (Optional)" name="SolutionURL"
          class="form-control" ng-model="addquestionCtrl.SolutionURL"ng-init="addquestionCtrl.SolutionURL=''">
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.SolutionURL.$error.url && addquestionCtrl.submitted">
             Please Enter Valid URL
          </p>
        </div>
        <br><br>


        <div>
          <button class="btn btn-primary btn-lg btn-login" ng-show="addquestionCtrl.create"type="button"ng-click="addquestionCtrl.Create(form)">
            Add
          </button>
          <button class="btn btn-primary btn-lg btn-login" ng-show="!addquestionCtrl.create"type="button"ng-click="addquestionCtrl.Update(form)">
            Update
          </button>
          <br><br>
        </div>

      </form>

      <!-- Types from DB Table -->
      <div id="LoadMath"style="overflow-x:scroll">
        <br><br><hr>
        <input type="text"class="form-control" name="Search" placeholder="Search Questions Here"ng-model="addquestionCtrl.Search">
        <br><br><br>
        <center><button type="button" class="btn btn-success"onclick="LoadMathDB()">
          Reload Maths
        </button></center>
      <table class="table table-responsive table-bordered">

        <tr>
          <th>Question</th>
          <th>Question Type</th>
          <th>Ques Image</th>
          <th>Options</th>
          <th>Ans</th>
          <th>Solution</th>
          <th>Solution Image</th>
        </tr>
        <tr ng-repeat="question in addquestionCtrl.Questions|filter:addquestionCtrl.Search">
          <td>{{question.question}}
            <br><br><br>
            <button type="button" class="btn btn-primary"
            ng-click="addquestionCtrl.loadForUpdate(question)">
              <span class="glyphicon glyphicon-pencil "></span></button>
            <br><br>
            <button type="button" class="btn btn-danger"
             ng-click="addquestionCtrl.Delete(question)">
              <span class="glyphicon glyphicon-trash "></span>
            </button>
          </td>
          <td>{{question.questype}}</td>
          <td>
            <div ng-show="{{question.quesImg!==''}}"class=""style="height:250px;width:350px;overflow:hidden">
              <img src=""ng-src="{{question.quesImg}}"width="100%"height="100%" alt="No Img">
            </div>
          </td>
          <td>
            <ul>
              <li>{{question.a}}
                <div ng-show="{{question.aURL!==''}}"class="">
                <br><a ng-href="{{question.aURL}}"target="_blank">Option A Image</a>
                </div>
              </li>
              <li>{{question.b}}
                <div ng-show="{{question.bURL!==''}}"class="">
                <br><a ng-href="{{question.bURL}}"target="_blank">Option B Image</a>
                </div>
              </li>
              <li>{{question.c}}
                <div ng-show="{{question.cURL!==''}}"class="">
                <br><a ng-href="{{question.cURL}}"target="_blank">Option C Image</a>
                </div>
              </li>
              <li>{{question.d}}
                <div ng-show="{{question.dURL!==''}}"class="">
                <br><a ng-href="{{question.dURL}}"target="_blank">Option D Image</a>
                </div>
              </li>
            </ul>
          </td>
          <td>{{question.ans}}</td>
          <td>{{question.solution}}</td>
          <td>
            <div ng-show="{{question.solutionImg!==''}}"class=""style="height:250px;width:250px;overflow:hidden">
              <img src=""ng-src="{{question.solutionImg}}"width="100%"height="100%" alt="No Img">
            </div>
          </td>


        </tr>
      </table>
      </div>

    </div>

    </div>
  </div>

  <script type="text/javascript">
  $(document).ready(function(){
  });
  function LoadMathDB(){
    console.log('LoadMathDB');
    var x=document.getElementById('#LoadMath');
    MathJax.Hub.Queue(["Typeset",MathJax.Hub,x]);
  }

    function LoadOutput(from,to){
      var y=document.getElementById(from).value;
      document.getElementById(to).innerHTML=y;
      var x=document.getElementById(to);
      MathJax.Hub.Queue(["Typeset",MathJax.Hub,x]);
    }
  </script>
